@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FDF6EC;
    --foreground: #201019;
  }
  
  .dark {
    --background: #131442;
    --foreground: #C2F3FE;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
